@import 'range_input';

button, .btn, .btn-default, .btn-lg, a {
	&:focus, &:active {
		outline: none !important;
	}
}

.btn-delete-list-item {
	margin: 4px;
}

textarea {
	resize: vertical;
}

#search_bar {
	margin-top: 7%;
}

#search_results {
	display: none;
}